# Gradle
.gradle/
**/build/

# Local configuration
local.properties

# IDE files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Keystore / signing
*.jks
*.keystore
keystore.base64.txt

# Android captures
captures/

# Native build intermediates
.cxx/
externalNativeBuild/
fdroid-metadata-com.swap.app.yml
swap-release.jks
keystore.base64.txt
